# Can ignore specific files
.DS_Store
credentials.txt
pkg/
.rvmrc

# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Use wildcards as well
#*~
#*.swp

# Can also ignore all directories and files in a directory.
#tmp/**/*